<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css')}}" >
  <a href="http://www.hyperlinkcode.com/change-hyperlink-color.php" style="color: #000000"></a>



<title> Official Sagehen Planner </title>
<link href= "style.css" rel="stylesheet" type= "text/css">
</head>

<body>
<header>
&nbsp; <br>
<hr>
<h1 align='center'><font face ="Libre Baskerville", serif> The Official Sagehen Planner </font></h1>
<hr>

<br/>
<div style="text-align:center;">

    <!--<font face= "Libre Baskerville", serif> <i>Please select the courses that you've taken</i></font>-->

</div>
    <center>
    <h1>What courses have you taken?</h1>
    <form method="POST" action="/CScourse">
        <center action="" method="post">
            <h1>Intro Courses</h1><br>
            <input type="checkbox" name="course1" value="CSCI051" align="left"/> CSCI051P PO or CSCIO51J PO or CSCI051G PO<br>
            <input type="checkbox" name="course2" value="CSCI054" align="left"/> CSCI054 PO or CSCI052 PO and CSCI055 PO<br>
            <input type="checkbox" name="course3" value="CSCI062" /> CSCI062 PO<br><br>

            <h1>Core Courses</h1><br>
            <input type="checkbox" name="course4" value="CSCI101" /> CSCI101 PO<br>
            <input type="checkbox" name="course5" value="CSCI105" /> CSCI105 PO<br>
            <input type="checkbox" name="course6" value="CSCI140" /> CSCI140 PO<br><br>

            <h1>Electives</h1><br>
            <input type="checkbox" name="course7" value="CSCI124" /> CSCI124 PO<br>
            <input type="checkbox" name="course8" value="CSCI131" /> CSCI131 PO<br>
            <input type="checkbox" name="course9" value="CSCI133" /> CSCI133 PO<br>
            <input type="checkbox" name="course10" value="CSCI134" /> CSCI134 PO<br>
            <input type="checkbox" name="course11" value="CSCI151" /> CSCI151 PO<br>
            <input type="checkbox" name="course12" value="CSCI158" /> CSCI158 PO<br>
            <input type="checkbox" name="course13" value="CSCI159" /> CSCI159 PO<br>
            <input type="checkbox" name="course14" value="CSCI181N" /> CSCI181N PO<br>
            <input type="checkbox" name="course15" value="CSCI181Q" /> CSCI181Q PO<br>
            <input type="checkbox" name="course16" value="CSCI181R" /> CSCI181R PO<br>
            <input type="checkbox" name="course17" value="CSCI181S" /> CSCI181S PO<br>
            <input type="checkbox" name="course18" value="CSCI192" /> CSCI192 PO<br>
            <input type="checkbox" name="course19" value="CSCI199DR" /> CSCI199DR PO<br>
            <input type="checkbox" name="course20" value="CSCI199IR" /> CSCI199IR PO<br>
            <input type="checkbox" name="course21" value="CSCI199RA" /> CSCI199RA PO<br><br>

            <h1>Math</h1>
            <input type="checkbox" name="course22" value="MATH" /> MATH058 PO or MATH060 PO<br><br>
            <input type="submit" name="">
        </center>
        </form>
    </form>
  <div>

      <div style="bottom: 10px">
        <i><font size = "4"><marquee behavior="scroll" direction="right">
          Please select the courses that you've taken!
        </i></font><br /></marquee>

      </div>
  </div>
</header>
</body>
</html>
