<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css')}}" >
  <a href="http://www.hyperlinkcode.com/change-hyperlink-color.php" style="color: #000000"></a>



<title> Official Sagehen Planner </title>
<link href= "style.css" rel="stylesheet" type= "text/css">
</head>

<body>
<header>
&nbsp; <br>
<hr>
<h1 align='center'><font face ="Libre Baskerville", serif> The Official Sagehen Planner </font></h1>
<hr>

<br/>
<div style="text-align:center;">

    <!--<font face= "Libre Baskerville", serif> <i>Please select the courses that you've taken</i></font>-->

</div>
    <center>
    <h1>These are the courses that you need to take:</h1><br>
        <h1>Modern dance courses (Need 1):<br><i>{{ md_needed }}</i></h1><br><br>
        <h1>Ballet courses (Need 1):<br><i>{{ ballet_needed }}</i></h1><br><br>
        <h1>Core courses:<br><i>{{ core_needed }}</i></h1><br><br>
        <h1>Electives that you can take:<br><i>{{ electives_suggested }}</i></h1><br><br>
    </form>
    </center>
</header>
</body>
</html>
