<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
  <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/style.css')}}" >
  <a href="http://www.hyperlinkcode.com/change-hyperlink-color.php" style="color: #000000"></a>



<title> Official Sagehen Planner </title>
<link href= "style.css" rel="stylesheet" type= "text/css">
</head>

<body>
<header>
&nbsp; <br>
<hr>
<h1 align='center'><font face ="Libre Baskerville", serif> The Official Sagehen Planner </font></h1>
<hr>

<br/>
<div style="text-align:center;">

    <!--<font face= "Libre Baskerville", serif> <i>Please Select Your Major</i></font>-->

</div>

<div class="majors">
  <ul class="first-column">
    <li class="active"><a href=""> <b>Africana Studies <br /></b></a></li>
    <li class="active"><a href=""> <b>American Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Anthropology </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Art </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Art History </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Asian American Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Asian Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Astronomy </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Biology </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Chemistry </font><br /></b></a></li>

  </ul>

  <ul class="second-column">
    <li class="active"><a href=""> <b>Chicana/o-Latina/o Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Chinese </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Classics </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Cognitive Science </font><br /></b></a></li>
    <li class="active"><a href="http://127.0.0.1:5000/computerscience"> <b>Computer Science </font><br /></b></a></li>
    <li class="active"><a href="http://127.0.0.1:5000/dance"> <b>Dance </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Economics </font><br /></b></a></li>
    <li class="active"><a href=""> <b>English </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Environmental Analysis </font><br /></b></a></li>
    <li class="active"><a href=""> <b>French </font><br /></b></a></li>

  </ul>

  <ul class="third-column">
    <li class="active"><a href=""> <b>Gender & Women's Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Geology </font><br /></b></a></li>
    <li class="active"><a href=""> <b>German Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>History </font><br /></b></a></li>
    <li class="active"><a href=""> <b>International Relations </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Japanese </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Late Antique-Medieval Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Latin American Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Linguistics </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Mathematics </font><br /></b></a></li>

  </ul>

  <ul class="fourth-column">
    <li class="active"><a href=""> <b>Media Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Middle Eastern Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Molecular Biology </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Music </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Neuroscience </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Philosophy </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Philosophy, Politics & Economics </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Physics & Astronomy </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Politics </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Psychology </font><br /></b></a></li>

  </ul>


  <ul class="fifth-column">
    <li class="active"><a href=""> <b>Public Policy Analysis </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Religous Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Romance Languages & Literatures </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Russian </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Russian & Eastern European Studies </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Science, Technology & Society </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Sociology </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Spanish </font><br /></b></a></li>
    <li class="active"><a href=""> <b>Theatre </font><br /></b></a></li>


  </ul>
  <div>

      <div style="bottom: 10px">
        <i><font size = "4"><marquee behavior="scroll" direction="right">
          Please select your major to see what courses you should take next!
        </i></font><br /></marquee>

      </div>
  </div>


</div>

</header>

</body>

</html>
